section.news
    .container
        .news-titel Новости
            span topzakazz
        .slider
            .slider-item
            .slider-item
            .slider-item
            .slider-item
            .slider-item
            .slider-item

section.footer
    .container
        .footer-conten
            .footer-company
                .logo-footer
                    img(src="./img/logo1.png")
                .division комплексное решение товарного бизнеса
            .footer-copyright
                .copyright__company ©2015-2017 TOPZAKAZZ Все права защищены
                .footer__confidentiality
                    a(href="javascript:void(0);") Политика конфиденциальности