#basket-popup.zoom-anim-dialog.mfp-hide
    span.basket-popup__description Вы включили одновременный показ посетителям Вашей корзины
        |вариантов со скидкой и подарком при онлайн оплате. Наша система
        |будет анализировать, какой вариант наиболее предпочтительный
        |для клиентов этой корзины (т.е. в каком случае будет больше онлайн
        |оплат, при “скидке” или “подарке”) и, в зависимости от результатов,
        |система будет регулировать процентное соотношение показов того
        |или иного варианта.
    spna.basket-popup__option Вы можете задать начальные проценты показов.
    span.basket-popup__default По умолчанию это 50 %
    .basket-option
        span Задайте процентное соотношение показов
        input(type="text").basket-option__input
        span %
    input(type="submit" value="применить").btn.btn-save__show