#small-dialog.zoom-anim-dialog.mfp-hide
    .pop-title Укажите наименование промокода
    input(type="text").pop-promo
    .pop-val Укажите значение промокода
    .pop-container
        input(type="text").pop-container__count
        select.pop-container__mony
            option руб.
        .pop-container__add
            img(src="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAWlBMVEUZ2If///8Z2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcZ2IcAAACRiq6LAAAAHHRSTlMAAARKlMzxBW/lMNbpk1EjEFT4Zwb9tBObAx8BmxBDuwAAAAFiS0dEHesDcZEAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhCBwQMTNe2AS1AAAA0UlEQVQoz33T6XKEIBBG0cZ9QcVldEzu+z9nQgSdTDn9/bHkUAhNKxKSpFleQJFnaWJCApVVzZm6Kl+xacF2/eDc0HcW2ubCccLOyzHPmGW2TGPE8cG6xW/7wW3lMR7YTDx3eUWzP5kaj2XLetmBZl9py1+ssJu8o9kslZGkZj4FXDzjTJ1Iil3ucLGkktHJHZqOTHL6e+zJpWC4x4HCv4fxK38zHOgYl3U+8OUf33FZdUPqUdQiqOX7V/iwl7Pw+pWpl623id5gemvqTf3hd/gBpTMZ0mm2QaAAAAAASUVORK5CYII=")
    .pop-lg Укажите LP, для которых действует промокод
    .pop-container
        select.pop-lg__select
            option 234234
    input(type="submit" value="Сохранить").btn.btn-save

