doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    link(rel="stylesheet" type='text/css' href="./css/main.min.css")
  body
    include header/header
    include main/main-index
    include footer/footer
    include popup/popup-promotion-long
    script(src="./js/scripts.min.js")