.card-setting__container
    .check-color
        .offer-setting__container
            input(type="checkbox" class="setting__color" id="color__red")
            label(for="color__red" class="setting-check__color color__red")
        .offer-setting__container
            input(type="checkbox" class="setting__color" id="color__black")
            label(for="color__black" class="setting-check__color color__black")
    .slider-product
        .product__contend
            .product__contend-close
                img(src="./img/svg/close-black.svg")
            img(src="./img/portm.png")
            .detail Подробнее
        .add-product__text Вы можете добавить до 4х фотографий к товару
        .add-btn
            a(href="javascript:void(0);").btn-black.btn-add__foto загрузить