.card-setting__container
    .check-color
        .offer-setting__container
            input(type="checkbox" class="setting__color" id="color__red")
            label(for="color__red" class="setting-check__color color__red")
        .offer-setting__container
            input(type="checkbox" class="setting__color" id="color__black")
            label(for="color__black" class="setting-check__color color__black")
    .dgf
    .slider-product
        .product__contend
            .add-product
        .add-product__text Добавьте картинку на  обложку для выбранного  цвета
        .add-btn
            a(href="javascript:void(0);").btn-black.btn-add__foto загрузить