.container-window

    .container-item
        .item-window 1
            .left-line
        .item-contend
            .help-element
                h2 Укажите адрес сайта, для которого формируется корзина
            p В дальнейшем Вы сможете указать дополнительные URL для этой корзины, если вы продаете один и тот же товар на разных сайтах или имеете несколько копий одного и того же лендинга.
            .item-contend__url
                ul
                    li
                        img(src="./img/svg/leftarrow.svg")

                    li
                        img(src="./img/svg/rightarrow.svg")
                    li
                        img(src="./img/svg/refresh.svg")
                input(type="text").item-contend__url__input
            .item-contend__lg
                img(src="./img/bg-lp.png")
    .footer-window
        .question Все готово?
        a(href="#small-dialog").btn.btn-next__stage Следующий этап