.container-window
    .container-item
        .item-window 5
            .left-line
        .item-contend
            .help-element
                h2 Вы можете простимулировать своих клиентов сделать онлайн оплату на Вашем сайте,
                    br
                    |предложив им скидку или подарок
            p Мы разработали умный функционал, благодаря которому Вы сможете получать больше онлайн оплат на Вашем сайте. При этом
                |Вы можете задать как отдельно “только скидка” или “только подарок”, так и обьединить эти два варианта для каждого лендинга,
                |задав процентное соотношение вывода предложения на экран. Система будет анализировать, какое предложение является
                |наиболее популярным среди Ваших клиентов и будет сама регулировать частоту показов.
            include five/bask-card-five
            .illustrate-container
                .illustrate-container__contend
                    span 1.
                    | Предложить клиенту
                    span  скидку
                    |при онлайн оплате своего заказа
                .illustrate-container__check
                    input(type="checkbox" id="ckeck5" class="check-elemt")
                    label(for="ckeck5" class="label-elemt") Toggle
            .illustrate-container
                .illustrate-container__contend
                    span 2.
                    | Предложить клиенту
                    span  подарок
                    |при онлайн оплате своего заказа
                .illustrate-container__check
                    input(type="checkbox" id="ckeck6" class="check-elemt" )
                    label(for="ckeck6" class="label-elemt") Toggle
            .clear-line
            .illustrate-container
                .illustrate-container__contend
                    span 1.
                    | Предложить клиенту
                    span  скидку
                    | при онлайн оплате своего заказа
                .illustrate-container__check
                    input(type="checkbox" id="ckeck5" class="check-elemt")
                    label(for="ckeck5" class="label-elemt") Toggle
            include five/ordering-five
            .illustrate-container
                .illustrate-container__contend
                    span 2.
                    | Предложить клиенту
                    span  подарок
                    | при онлайн оплате своего заказа
                .illustrate-container__check
                    input(type="checkbox" id="ckeck6" class="check-elemt" )
                    label(for="ckeck6" class="label-elemt") Toggle
            include five/gilf-client-five
        .step-back Вернуться к шагу №4
    .footer-window
        .question Все готово?
        a(href="javascript:void(0);").btn.btn-next__stage Следующий этап