.container-window

    .container-item
        .item-window 6
            .left-line
        .item-contend
            .help-element
                h2 Создайте или выберите футер, который будет отобрадаться на странице Вашей корзины
            p Если Вы работаете от одной организации, то Вам потребуется создать футер всего один раз и потом
                |использовать его для всех корзин. Если у Вас несколько организаций, то Вы можете создать
                |несколько вариаций футера и использовать их по необходимости
            .last-element
                .list-container__silber
                    .list__state
                        span Мой футер
                    .list__action-one__element
                        .element__check
                            img(src="./img/svg/check-black.svg")
                        .element__done
                            img(src="./img/svg/close-black.svg")
                .list-container
                    input(type="text" placeholder="Введите название нового футера").list-container__input
                    .btn-container
                        a(href="javascript:void(0);").btn-black.btn-footer__setting создать
                .content-info
                    .content-info__logo
                        span Логотип
                        |  Вашего интернет-магазина
                        .pen-element__sixth__add
                                img(src="./img/svg/plus.svg")
                    .content-info__address
                        .info-header
                            .info-header__phone
                                img(src="./img/svg/call.svg")
                                span +7 (499)123-45-67
                            .info-header__mail
                                img(src="./img/svg/mail.svg")
                                span info@shop.ru

                        ul
                            li ИП Иванов Иван Иванович
                            li Фактический/почтовый адрес:
                            li 350000, г. Краснодар, ул. Измаильская, д. 8,
                            li кабинет № 100
                        .element.bask-element__pen
                    .content-info__company
                        .element.bask-element__pen
                        ul
                            li ИНН 123456789123
                            li ОГРНИП 12345789123456
                            li Copyright @Shop 2015-2017
                            li Все права защищены
                            li
                                a(href="javascript:void(0);").content-info__private Политика конфиденциальности
                .content-policy
                    .policy-agreement
                        .element.bask-element__pen
                        .policy-agreement__title Политика конфиденциальности
                        span.policy-agreement__text Нажимая кнопку "Заказать", Вы соглашаетесь с политикой конфиденциальности.
                        span.policy-agreement__text Настоящим, я даю свое согласие ИП​​ , зарегистрированному по адресу:  на обработку, включая
                            |сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), сортировку,
                            |использование, распространение (в том числе передачу, включая трансграничную, другим
                            |компаниям, связанным с ИП  договорными отношениями), обезличивание, внесение моих
                            |персональных данных и информации о покупках в электронную информационную базу
                            |персональных данных, блокирование, уничтожение моих персональных данных, полученных
                            |в цели осуществления обработки заказа.
                        span.policy-agreement__text Все полученные персональные данные используются в целях обработки заказа,
                            |маркетинговых, информационных, рекламных или иных, связанных с маркетинговыми целями.
                            |ИП осуществляет обработку персональных данных с использованием средств автоматизации.
                        span.policy-agreement__text Персональные данные могут обрабатываться исключительно во внутренней сети ИП ​
                            |или других компаний, связанных с ИП  договорными отношениями с целью реализации
                            |обработки заказа, как на территории, так и за пределами РФ. Настоящее соглашение
                            |выдано на 10 лет и может быть приостановлено или отозвано.
                .code-promo
                    a(href="javascript:void(0);").btn-black.btn-footer__setting сохранить
        .step-back Вернуться к шагу №5
    .footer-window
        .question__last Все готово?
        a(href="javascript:void(0);").btn.btn-next__stage Просмотр
    .footer-title Посмотрите как Ваша корзина будет выглядеть для клиента