.offer-four
    .offer-title с этим товаром так же покупают
    .offer-four__slider
        .offer-four__slider-item
            .offer-four__slider__img
                img(src="./img/bag-long.png")
                .detail Подробнее
            .offer-title РЮКЗАК СУПЕРМЕН
            .setting-price__prev
                span Старая цена:
                span.setting-price__old  2 490 руб.
                span.setting-price__sale Экономия: 500 руб.
            .setting-price__new
                span Цена 1 990 руб.
            a(href="javascript:void(0);").btn-green.btn-bask добавить в корзину
        .offer-four__slider-item
            .offer-four__slider__img
                img(src="./img/bag-long.png")
                .detail Подробнее
            .offer-title РЮКЗАК СУПЕРМЕН
            .setting-price__prev
                span Старая цена:
                span.setting-price__old  2 490 руб.
                span.setting-price__sale Экономия: 500 руб.
            .setting-price__new
                span Цена 1 990 руб.
            a(href="javascript:void(0);").btn-green.btn-bask добавить в корзину
        .offer-four__slider-item
            .offer-four__slider__img
                img(src="./img/bag-long.png")
                .detail Подробнее
            .offer-title РЮКЗАК СУПЕРМЕН
            .setting-price__prev
                span Старая цена:
                span.setting-price__old  2 490 руб.
                span.setting-price__sale Экономия: 500 руб.
            .setting-price__new
                span Цена 1 990 руб.
            a(href="javascript:void(0);").btn-green.btn-bask добавить в корзину
        .offer-four__slider-item
            .offer-four__slider__img
                img(src="./img/bag-long.png")
                .detail Подробнее
            .offer-title РЮКЗАК СУПЕРМЕН
            .setting-price__prev
                span Старая цена:
                span.setting-price__old  2 490 руб.
                span.setting-price__sale Экономия: 500 руб.
            .setting-price__new
                span Цена 1 990 руб.
            a(href="javascript:void(0);").btn-green.btn-bask добавить в корзину
        .offer-four__slider-item
            .offer-four__slider__img
                img(src="./img/bag-long.png")
                .detail Подробнее
            .offer-title РЮКЗАК СУПЕРМЕН
            .setting-price__prev
                span Старая цена:
                span.setting-price__old  2 490 руб.
                span.setting-price__sale Экономия: 500 руб.
            .setting-price__new
                span Цена 1 990 руб.
            a(href="javascript:void(0);").btn-green.btn-bask добавить в корзину
