.offer-big
    .offer-title с этим товаром так же покупают
        img(src="./img/svg/close.svg").bask__close.offer-big-close
    .offer-sliders
        .offer-slider-conatinert
            .offer-slider-item
                .offer-slider__img
                    img(src="./img/backpack.png")
                .offer-slider__content
                    .offer-title РЮКЗАК СУПЕРМЕН
                    span.offer-descrition Супермен – яркий, стильный, удобный рюкзак – настоящий
                        |товарищ Вашему школьнику. В таком рюкзаке пятерки под
                        |надежной защитой Супермена.
                    .offer-setting
                        .offer-setting__color
                            span Цвет
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__with")
                                label(for="color__with" class="setting__checkbox-custom color__with")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__green")
                                label(for="color__green" class="setting__checkbox-custom color__green")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__blue")
                                label(for="color__blue" class="setting__checkbox-custom color__blue")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__pink")
                                label(for="color__pink" class="setting__checkbox-custom color__pink")
                        .offer-setting__size
                            span Размеры:
                            select.offer-setting__select
                                option 27*13*37
                    .offer-setting__price
                        .setting-price
                            .setting-price__prev
                                span Старая цена:
                                span.setting-price__old  2 490 руб.
                                span.setting-price__sale Экономия: 500 руб.
                                .element.product-element__pen
                            .setting-price__new
                                span Цена 1 990 руб.
                                .element.product-element__pen
                        .offer-setting__price__btn
                            a(href="javascript:void(0);").btn-green.btn-bay купить
        .offer-slider-conatinert
            .offer-slider-item
                .offer-slider__img
                    img(src="./img/backpack.png")
                .offer-slider__content
                    .offer-title РЮКЗАК СУПЕРМЕН
                    span.offer-descrition Супермен – яркий, стильный, удобный рюкзак – настоящий
                        |товарищ Вашему школьнику. В таком рюкзаке пятерки под
                        |надежной защитой Супермена.
                    .offer-setting
                        .offer-setting__color
                            span Цвет
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__with")
                                label(for="color__with" class="setting__checkbox-custom color__with")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__green")
                                label(for="color__green" class="setting__checkbox-custom color__green")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__blue")
                                label(for="color__blue" class="setting__checkbox-custom color__blue")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__pink")
                                label(for="color__pink" class="setting__checkbox-custom color__pink")
                        .offer-setting__size
                            span Размеры:
                            select.offer-setting__select
                                option 27*13*37
                    .offer-setting__price
                        .setting-price
                            .setting-price__prev
                                span Старая цена:
                                span.setting-price__old  2 490 руб.
                                span.setting-price__sale Экономия: 500 руб.
                                .element.product-element__pen
                            .setting-price__new
                                span Цена 1 990 руб.
                                .element.product-element__pen
                        .offer-setting__price__btn
                            a(href="javascript:void(0);").btn-green.btn-bay купить
        .offer-slider-conatinert
            .offer-slider-item
                .offer-slider__img
                    img(src="./img/backpack.png")
                .offer-slider__content
                    .offer-title РЮКЗАК СУПЕРМЕН
                    span.offer-descrition Супермен – яркий, стильный, удобный рюкзак – настоящий
                        |товарищ Вашему школьнику. В таком рюкзаке пятерки под
                        |надежной защитой Супермена.
                    .offer-setting
                        .offer-setting__color
                            span Цвет
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__with")
                                label(for="color__with" class="setting__checkbox-custom color__with")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__green")
                                label(for="color__green" class="setting__checkbox-custom color__green")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__blue")
                                label(for="color__blue" class="setting__checkbox-custom color__blue")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__pink")
                                label(for="color__pink" class="setting__checkbox-custom color__pink")
                        .offer-setting__size
                            span Размеры:
                            select.offer-setting__select
                                option 27*13*37
                    .offer-setting__price
                        .setting-price
                            .setting-price__prev
                                span Старая цена:
                                span.setting-price__old  2 490 руб.
                                span.setting-price__sale Экономия: 500 руб.
                                .element.product-element__pen
                            .setting-price__new
                                span Цена 1 990 руб.
                                .element.product-element__pen
                        .offer-setting__price__btn
                            a(href="javascript:void(0);").btn-green.btn-bay купить
        .offer-slider-conatinert
            .offer-slider-item
                .offer-slider__img
                    img(src="./img/backpack.png")
                .offer-slider__content
                    .offer-title РЮКЗАК СУПЕРМЕН
                    span.offer-descrition Супермен – яркий, стильный, удобный рюкзак – настоящий
                        |товарищ Вашему школьнику. В таком рюкзаке пятерки под
                        |надежной защитой Супермена.
                    .offer-setting
                        .offer-setting__color
                            span Цвет
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__with")
                                label(for="color__with" class="setting__checkbox-custom color__with")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__green")
                                label(for="color__green" class="setting__checkbox-custom color__green")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__blue")
                                label(for="color__blue" class="setting__checkbox-custom color__blue")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__pink")
                                label(for="color__pink" class="setting__checkbox-custom color__pink")
                        .offer-setting__size
                            span Размеры:
                            select.offer-setting__select
                                option 27*13*37
                    .offer-setting__price
                        .setting-price
                            .setting-price__prev
                                span Старая цена:
                                span.setting-price__old  2 490 руб.
                                span.setting-price__sale Экономия: 500 руб.
                                .element.product-element__pen
                            .setting-price__new
                                span Цена 1 990 руб.
                                .element.product-element__pen
                        .offer-setting__price__btn
                            a(href="javascript:void(0);").btn-green.btn-bay купить
        .offer-slider-conatinert
            .offer-slider-item
                .offer-slider__img
                    img(src="./img/backpack.png")
                .offer-slider__content
                    .offer-title РЮКЗАК СУПЕРМЕН
                    span.offer-descrition Супермен – яркий, стильный, удобный рюкзак – настоящий
                        |товарищ Вашему школьнику. В таком рюкзаке пятерки под
                        |надежной защитой Супермена.
                    .offer-setting
                        .offer-setting__color
                            span Цвет
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__with")
                                label(for="color__with" class="setting__checkbox-custom color__with")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__green")
                                label(for="color__green" class="setting__checkbox-custom color__green")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__blue")
                                label(for="color__blue" class="setting__checkbox-custom color__blue")
                            .offer-setting__container
                                input(type="checkbox" class="setting__color" id="color__pink")
                                label(for="color__pink" class="setting__checkbox-custom color__pink")
                        .offer-setting__size
                            span Размеры:
                            select.offer-setting__select
                                option 27*13*37
                    .offer-setting__price
                        .setting-price
                            .setting-price__prev
                                span Старая цена:
                                span.setting-price__old  2 490 руб.
                                span.setting-price__sale Экономия: 500 руб.
                                .element.product-element__pen
                            .setting-price__new
                                span Цена 1 990 руб.
                                .element.product-element__pen
                        .offer-setting__price__btn
                            a(href="javascript:void(0);").btn-green.btn-bay купить
    .offer-big__setting Характеристики:
    .offer-big__materials Материал: полиэстер, нейлон, пластик и металл (фурнитура)
    .offer-big__materials Отделения: внешний карман на замке, два
        |боковых сетчатых кармана на резинке, внутри два отделения и открытый карман.